<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="show">
    <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
    <div class="form-group row">
        <label for="food-name" class="col-form-label">Name</label>
        <div>
        <input class="form-control" type="text"  id="food-name" name="name" [(ngModel)]="name" placeholder="food name ...">
        </div>
    </div>
    <div class="form-group row">
        <label for="food-calories" class="col-form-label">Calories</label>
        <div>
        <input class="form-control" type="tel"  id="food-calories" name="calories" [(ngModel)]="calories" placeholder="calories ...">
        </div>
    </div>
    <div class="form-group row">
        <label for="food-image" class="col-form-label">Image URL</label>
        <div class="col-10">
        <input class="form-control" type="text"  id="food-image" name="image" [(ngModel)]="image" placeholder="image url ...">
        </div>
    </div>
    <div class="form-group row">
        <div>
        <button type="submit" class="btn btn-primary">Save New Food</button>
        </div>
    </div>
    </form>
</div>
