<div class="row">
<button class="btn btn-primary" (click)="showForm()"> Input Food </button>

<br>
<form [hidden]=show #addfoodform action="">
  <label id="food-name">Name: </label>
  <input name="food-name"  type="text" [(ngModel)]="newFood.name">
<br>
  <label>Calories: </label>
  <input name="food-calories" type="text" [(ngModel)]="newFood.calories">
  <br>
  <label>Picture: </label>
  <input name="food-picture" type="text" [(ngModel)]="newFood.image">
<br>
  <button class="btn btn-primary" (click)="addFood()">Add Food</button>
</form>

</div>
