* {
    padding:0;
    margin:0;
}

.container {
    padding-top:100px;;
    width:800px;
    margin:0 auto;
}

h2 {
    padding-bottom:20px;
    text-align:center;
}

button {
    background-color: rgb(0, 152, 212);
    background: rgb(102,157,201); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(102,157,201,1) 0%, rgba(32,124,202,1) 50%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(102,157,201,1) 0%,rgba(32,124,202,1) 50%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(102,157,201,1) 0%,rgba(32,124,202,1) 50%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669dc9', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
    border-radius: 10px;
    color:#fff;
    border:none;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.479);
    padding:10px 10px;
    width:180px;
    margin-bottom:30px;
}

button:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.568);
    background: rgb(32,124,202); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(32,124,202,1) 1%, rgba(102,157,201,1) 22%, rgba(102,157,201,1) 70%, rgba(32,124,202,1) 93%, rgba(30,87,153,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(32,124,202,1) 1%,rgba(102,157,201,1) 22%,rgba(102,157,201,1) 70%,rgba(32,124,202,1) 93%,rgba(30,87,153,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(32,124,202,1) 1%,rgba(102,157,201,1) 22%,rgba(102,157,201,1) 70%,rgba(32,124,202,1) 93%,rgba(30,87,153,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.food-list-section {
    width:400px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    padding-right: 50px;
    /* background-color: #eee; */
}

.today-list-section {
    color:#fff;
    width:400px;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    background-color: rgb(1, 78, 109);
    border-radius: 10px;
}

img {
    max-width: 200px;
}

input, .search {
    width:100%;
    border:none;
    height:20px;
    padding:5px;
    background-color: #ddd;
    margin-top:6px;
    margin-bottom:15px;
}

label {
    padding-top:30px;
    margin-top:30px;
}

li {
    list-style: none;
}

.total-cal {
    font-size: 1.6em;
    margin-top:30px;
}

.food-name {
    padding-bottom:15px;
}

h3 {
    font-size:1.4em;
}

.today-item {
    margin-bottom:20px;
}