img {
  max-height: 150px;
  max-width: 250px;
  border-radius: 15px;
}
ul{
  text-decoration-style: none;
  list-style-type: none;
}
li{
  padding: 10px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid gainsboro;
  width: 300px;
}
.main {
  display: flex;
  justify-content: center;
}
.left{
  position: absolute;
  left: 100px;
}
.background{
  background-image: linear-gradient(to bottom, #b4ec51, #429321);
  border: solid 1px #979797;
  height: 100vh;
}