.food-image{
    width: 200px;
}

.food-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    padding-left: 300px;
    padding-right: 300px;

}

.food-itself{
    background-color: yellow;
    font-family: Arial;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    align-content: center;
    margin-left: 30px;
    list-style: none;

}