.allFoods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 5%;
    margin-top: 30px;

}

.oneItem {
    padding: 2%;
    margin: 10px;
    border: 2px solid lightblue;
    border-radius: 5px;
    min-width: 255px;
 
}

.oneItem img{
    max-width: 180px;
}

#newItemForm div{
    margin: 15px;
}
   
#newItemForm {
    border: 2px solid lightblue;
    border-radius: 15px;
    background-color: lightgrey;
    display: inline-block;
    padding: 20px;
}
   
.eachLine {
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

#todaysFoods {
    border: 2px solid lightblue;
    border-radius: 15px;
    background-color: lightgrey;
    width: 100%;
    margin: 10px;
}


#dynDisplay {
    display: flex;
    justify-content: space-between;
}