<div class="container my-5">
  <div class="row d-flex justify-content-around">
    <div class="col-6 left-panel text-center">
      <div class="row">
        <div class="col-12">
          <h3>Search</h3>
          <input type="text" [(ngModel)]="foodsearched">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button (click)="toggle()" id="bt">{{buttonName}}</button>
          <form *ngIf="show">
            <label for="name">Name</label>
            <input type="text" [(ngModel)]="newItem.name" name="name">

            <label for="calories">Calories</label>
            <input type="text" [(ngModel)]="newItem.calories" name="calories">

            <label for="quantity">Quantity</label>
            <input type="text" [(ngModel)]="newItem.quantity" name="quantity">

            <button (click)="add()">Add</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div *ngFor="let food of foods | search: 'name': foodsearched" class="food-wrapper">
            <img [src]="food.image" alt="Food image">
            <p>{{food.name}}</p>
            <p>{{food.calories}}</p>
            <p>{{food.quantity}}</p>
            <input type="text" #qty placeholder="1" value="1">
            <button (click)="today(food, qty.value)">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 right-panel text-center">
      <div class="cal-title">
        <h3>Today's Foods {{totalCal}} Cal</h3>
        <ul>
          <li *ngFor="let food of foodSelected">{{food.name}} X{{food.quantity}} || {{food.productTotalCal}} </li>
        </ul>
      </div>
    </div>
  </div>
</div>
