.food-card{
  /* min-width: 50vh; */
  /* max-width: 50vw; */
  width: 50vh;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  align-items: center;
}

.food-img{
  /* width: 10vh; */
  max-width: 50%;
  /* flex: 1 50%; */
}