img {
  width: 200px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.dishBook {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
}

.dish {
  display: flex;
  width: 240px;
  height: 270px;
  flex-wrap: nowrap;
  border: dotted 1px #f5fe00;
  padding: 25px 10px 25px 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
}

.controlPanel {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  background-color: #f5fe00;
  padding: 15px;
  max-width: 100%;
  margin: 0px;
}

.search {
  display: flex;
  align-items: baseline;
}

input {
  border-radius: 5px;
  border: dotted 1px #f5fe00;
  margin-left: 10px;
  padding: 5px;
}

.dishCreator input {
  margin: 5px;
}

.dishCreator > .addButton {
  margin-top: 15px;
}

.addButton {
  border: dotted 1px #2fa172;
  display: flex;
  border-radius: 15px;
  margin-right: 10px;
  padding: 10px;
  background-color: #2fa172;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
