ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
 width: 100%;
 max-width: 100%;
 height: 300px;
}

li {
  flex-basis: 33%;
}

.food-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
