<div class="search">
  <label for="things_name"> Search thing: </label>
  <input id="things_name" placeholder="thing name"
            type="text" [(ngModel)]="pattern">
</div>
<div class="form">
  <button (click)="showAddForm()">Add new Food</button>
  <div *ngIf='visible'>
    <label for="name">Name</label><br>
    <input type="text" id="name" [(ngModel)]="newFood.name"><br>

    <label for="calories">Calories</label><br>
    <input type="number" id="calories" [(ngModel)]="newFood.calories"><br>

    <label for="image">URL image</label><br>
    <input type="text" id="image" [(ngModel)]="newFood.image"><br>

    <button (click)="AddNewFood()">Add Food</button>
  </div>
</div>


<div class="container">
  <div class="foodList" *ngFor="let food of foodList | filter:'name':pattern; let i = index">
  <p> {{food.name}}</p>
  <p>{{food.calories}}</p>
  <img [src]="food.image" alt="{{food.name}}">
  <input type="Number" value="{{food.quantity}}">
  </div>
</div>
