img {
  height: 30vh;
}

.flexwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}

.foodForToday {
  border: 2px solid green;
}

.fixMe {
  position: fixed;
  top: 0vh;
  right: 10vh;
  border: 2px solid red;
}