img {
  width: 200px;
}

ul {
  list-style: none;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
}

.food-list div {
  margin-right: 20px;
  margin-bottom: 20px;
}


label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

input {
  padding: 5px;
  font-size: 16px;
}

.field {
	margin-bottom: 20px;
}

.submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: #27afdc;
  cursor: pointer;
}

.search {
  text-align: center;
}
