<div class='wrapper'>
  <div class='left'>
    <h1>
      {{title}}
    </h1>
    <button (click)="add()"> Add new food </button>
    <div [style.display]="hide ? 'block' : 'none'">
      Name
      <input type="text" [(ngModel)]="newFood.name" #thingName>
      <br> Caloris
      <input type='text' [(ngModel)]="newFood.calories" #Calories>
      <br> Image
      <input type='text' [(ngModel)]="newFood.image" #Image>
      <br>
      <button (click)="addFood(); thingName.value=''; Calories.value=''; Image.value=''">
        add
      </button>
    </div>
    <app-food-list></app-food-list>
  </div>
</div>