<!-- <h1>
{{title}}
</h1> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light customNav"> -->
<nav class="navbar navbar-light customNav" style="background-color: #d3ff82;">
  <a class="navbar-brand" href="#">Nutrition App</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="pattern">
  </form>
</nav>


<div class="container">
  <!-- Content here -->
  <app-food-list></app-food-list>
</div>
