
<div class="container">
  <h1>Add Food</h1>
  <button class="btn btn-primary" (click)="toggleDisplayAdd()">Add Food</button>

  <form [hidden]="!hideDisplay">
    <label for="name">Food Name</label>
    <input id="name" [(ngModel)]="newFood.name">

    <label for="calories">Calories</label>
    <input type="number" id="calories" [(ngModel)]="newFood.calories">

    <label for="image">Image URL</label>
    <input id="image" [(ngModel)]="newFood.image">

    <button class="btn btn-success" (click)="toggleDisplayAdd()" >Submit</button>
  </form>
</div>
<br>
<hr>