<div class="container">
  <div>
    <div class="container-food" *ngFor="let food of listFood | searchFood : filterWord">
      <img src="{{food.image}}">
      <div>
        <div>
          <h3>{{food.name}}</h3>
          <h4>{{food.calories}} Calories</h4>
        </div>
        <div>
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="food.quantity" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add to List</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="search-container">
      <div >
        <h2>Search</h2>
        <input type="text" [(ngModel)]="filterWord" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
          aria-describedby="button-addon2">
      </div>
      <button type="button" class="btn btn-secondary">Add new Food</button>  
    </div>
    <div>
        
    </div>
    
    
  </div>
</div>