/* You can add global styles to this file, and also import other style files */

*{
  margin:0;
  box-sizing: border-box;

}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
h1{
  padding: 20px 0;
  text-align: center;
}
ul{
  list-style:none;
}
.container{
  max-width: 100%;
  margin:0 auto;
  padding: 40px 15px;
}
.food-page-container{
  display: flex;
  justify-content: space-between;
}
.add-food-form{
  width: 300px;
  border: 1px solid #ececee;
  padding: 20px;
}
.form-row{
  margin-bottom: 15px;
}
.form-row label{
  display: block;
  padding-bottom: 7px;
}
.form-row input{
  height: 20px;
  width: 100%;
}
button{
  background: #000;
  color: #fff;
  padding: 10px 15px;
  font-weight: 300;
  transition: all .5s;
}
button:hover{
  cursor: pointer;
  opacity: .7;
}
.foods{
  height: 70vh;
  overflow: scroll;
  margin-top: 20px;
}
.foods button{
  padding: 3px;
  margin-right: 5px;
}
.foods ul{
  margin-top: 30px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding-left:0;
  justify-content: space-between;
}
.foods ul li{
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  border: 1px solid #ececee;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.foods li figure{
  width: 100px;
  height:100px;
  border-radius: 50%;
  border: 2px solid #ececee;
  overflow: hidden;
}
.foods li figure img{
  width: 140px
}
.food-info{
  width: 70%;
  padding-left: 15px;
}
.food-info p{
  line-height: 1.5;
}
.food-info p:first-child{
  font-weight: 700;
}
.foods ul li:nth-of-type(2n){
  margin-right: 0;
}
.my-food-list{
  padding: 15px;
  border: 1px solid #ececee;
}
.my-food-list h2{
  margin-bottom: 20px;
}
.my-food-list ul{
  padding-left: 0;
}
.my-food-list ul li{
  margin-bottom: 10px;
}
@media (min-width:768px){
  .food-and-form-wrapper{
    width: 55%;
    margin-right: 5%;
    flex-wrap: wrap;
    display: flex;
    list-style:none;
    justify-content: space-between;
  }
  .my-food-list{
    width: 40%;
  }
}